<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @movie.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Media type:</strong>
  <%= @movie.media_type %>
</p>

<p>
  <strong>First air date:</strong>
  <%= @movie.first_air_date %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @movie.popularity %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @movie.vote_count %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
