<p id="notice"><%= notice %></p>

<h1>Listing Movie Records</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Name</th>
      <th>Media type</th>
      <th>First air date</th>
      <th>Popularity</th>
      <th>Vote count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_records.each do |movie_record| %>
      <tr>
        <td><%= movie_record.movie_id %></td>
        <td><%= movie_record.name %></td>
        <td><%= movie_record.media_type %></td>
        <td><%= movie_record.first_air_date %></td>
        <td><%= movie_record.popularity %></td>
        <td><%= movie_record.vote_count %></td>
        <td><%= link_to 'Show', movie_record %></td>
        <td><%= link_to 'Edit', edit_movie_record_path(movie_record) %></td>
        <td><%= link_to 'Destroy', movie_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie record', new_movie_record_path %>
